:root {
    --orange-color: #fc7b03;
    --gray-color: #cccccc;
    --black-color: #000000;
    --light-gray: #f5f2f2;
    --white-color: #ffffff;
}

/* complered - opacity 0.5
text decoration strike-trought */