:root {
  --orange-color: #fc7b03;
  --gray-color: #cccccc;
  --black-color: #000000;
  --light-gray: #f5f2f2;
  --white-color: #ffffff;
  --contur-color: #fbeb09;
  --anim: all 0.4s ease-out;
}

* {
  box-sizing: border-box;
}

.window {
  width: 760px;
  margin: 0 auto;
  background-color: var(--gray-color);
  padding: 10px;
  margin-top: 20px;
}

.filter-input {
  width: 100%;
  margin-bottom: 10px;
}

.tags-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 10px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.tags-line > .tag:is(:hover, :focus) {
  transform: scale(1.1);
  transition: var(--anim);

}

/* complered - opacity 0.5
text decoration strike-trought */
.card {
  position: relative;
  background-color: var(--light-gray);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.completed {
  opacity: 0.5;
}

.completed .name, .completed .description {
  text-decoration: line-through;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000000;
}

.corner-icons-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 10px;
  right: 10px;
  border: 1px solid tomato;
  width: 50px;
  height: 20px;
}

.tag {
  border: 1px solid var(--orange-color);
  font-weight: 500;
  font-size: small;
  color: var(--orange-color);
}

.done-button {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  border: none;
  background-color: var(--orange-color);
  color: var(--white-color);
  border-radius: 4px;
  height: 25px;
}

.done-button:is(:hover, :focus) {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: 2px solid var(--contur-color);
  transition: var(--anim);
}

.clipboard-icon {
  fill: var(--white-color);
}

.add-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.add-block input, .add-block textarea {
  width: 100%;
}

.add-label {
  font-weight: 500;
  font-size: large;
}

.none {
  display: none;
}
